body {
  font-family: "Karla", sans-serif !important;
}

/* NavBar */
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 2rem;
  padding-left: 2rem;
  margin-left: 1rem;
}

.nav-bar {
  padding: 1.5rem 7rem 2rem 7rem;
}

.navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 2rem !important;
  line-height: inherit;
  white-space: nowrap;
}

/* social icons */
.social-media {
  text-align: right;
  padding-top: 0.2rem;
  padding-right: 1.5rem;
  padding-bottom: .5rem;
}

