body {
  font-family: "Helvetica Monospaced", sans-serif !important;
}

/* home container */
.home-container {
  min-height: 100vh;
  position: relative;
  padding-top: 3rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

.intro {
  text-align: center;
}

.rounded-circle {
  border-radius: 50%!important;
  width: 50rem;
  justify-content: center !important;
  align-items: center;
  display: block;
  text-align: center;

}

/* NavBar */
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 2rem;
  padding-left: 2rem;
  margin-left: 1rem;
}

.nav-bar {
  padding: 1.5rem 7rem 2rem 7rem;
}

.navbar-brand#my-name {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 2rem !important;
  line-height: inherit;
  white-space: nowrap;
}

/* social icons */
.social-media {
  text-align: right;
  padding-top: 0.2rem;
  padding-right: 1.5rem;
}

.social-icon {
  margin-left: 4px;
}

/* footer */

.navbar#footer {
  padding: 0rem 0rem 0rem 0rem
}

.navbar-brand#footer {
  padding-left: 1rem;
  font-size: small;
  font-family: "Menlo", sans-serif !important;
}

.navbar-text {
  padding-right: 1rem;
  font-size: small;
  font-family: "Menlo", sans-serif !important;
}

/* Projects */

.header {
  text-align: center;
}



