/* body {
  font-family: "Helvetica Monospaced", sans-serif !important;
} */

/* home container */
/* .about-header {
  text-align: center;
  /* padding-top: 4rem; */
/* }

.home-container {
  justify-content: center;
  padding-bottom: 5rem;
}

.intro {
  margin-top: .5rem;
  display: inline-block !important;
  text-align: justify !important;
  
} */
/* 
.img-thumbnail {
  padding: .25rem;
  margin-top: 2rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  max-width: 100%;
  height: auto;
}

/* resume container */
/* .resume-container {
  padding-top: 2rem;
} */


/* .social-icon {
  margin-left: 4px;
}  */

/* footer */

.navbar#footer {
  padding: 0rem 0rem 0rem 0rem
}

.navbar-brand#footer {
  padding-left: 1rem;
  font-size: small;
  font-family: "Menlo", sans-serif !important;
}

.navbar-text {
  padding-right: 1rem;
  font-size: small;
  font-family: "Menlo", sans-serif !important;
}

/* Projects */

.project-container {
  padding-bottom: 4rem;
}

.header {
  text-align: center;
}

.projects-deck {
  padding-top: 2rem;
  margin-left: 15px !important;
  flex-direction: column;
  justify-content: center;
  display: inline-block;
  text-align: center;
}

.project-card {
    flex: 1 0;
    max-width: 500px;
    margin-bottom: 2rem !important;
    display: inline-block;
}

/* writing container */

.writing-deck {
  display: inline-block !important;
  padding-bottom: 5rem;
}

.writing-card {
  width: 800px !important;
  text-align: center;
  margin: 2rem;
  flex-direction: column;
}

.col-centered{
  float: none !important;
  margin: 0 auto !important;
}

/* Resume Container */

.resume-container{
  padding-top: 6em;
}